<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onLogin()" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="email" name="email" placeholder="Email ID" formControlName="email">
            <mat-error *ngIf="form.get('email').invalid">Please enter a valid email </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="form.get('password').invalid">Please Enter Valid password between 8-15 characters</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" *ngIf="!isLoading">Login</button>
    </form>
</mat-card>